<!doctype html>
<!-- CSS classes for targeting Internet Explorer and JavaScript disabled users:
   * http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
============================================================================= -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    
    {% comment %} 
      Thank you for using Bootstrapify!
    {% endcomment %}
    
    <!-- Site Information:
       * Bootstrapify v0.1 http://bootstrapify.me
       * Bootstrap v2.0.1 http://twitter.github.com/bootstrap
       * HTML5 Boilerplate v3.0.2 http://html5boilerplate.com
       * jQuery v1.7.1 http://jquery.com
       * Modernizr v2.5.3 http://modernizr.com
       *
       * Shopify: Search Engine Optimization (SEO) 101 http://wiki.shopify.com/Search_Engine_Optimization_101
       * Shopify: SEO for Theme Designers http://wiki.shopify.com/SEO_for_Theme_Designers
       * H5BP: More ideas for your <head> here: http://html5boilerplate.com/docs/html-head/
    ============================================================================= -->
    {% if template contains 'index' %}
      <title>{{ shop.name }}{% if settings.homepage_title_seo != blank %} | {{ settings.homepage_title_seo }}{% endif %}</title>
    {% elsif template contains '404' %}
      <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
      <title>{{ page_title | escape }}{% if current_page != 1 %} - Page {{ current_page }}{% endif %} | {{ shop.name }}</title>
    {% endif %}
    
    {% assign maxmeta = 155 %}
    {% if template contains 'product' %}
      <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    {% elsif template contains 'page' %}
      <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    {% elsif template contains 'index' and shop.description != '' %}
      <meta name="description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    {% endif %}
    
		<meta name="author" content="{{ settings.author }}">
    <link rel="canonical" href="{{ canonical_url }}">
    
    
    <!-- Meta data:
       * Mobile viewport optimized: http://h5bp.com/viewport
       * Viewport initial-scale=1.0 added for Bootstrap: http://twitter.github.com/bootstrap/scaffolding.html#responsive
    ============================================================================= -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    
    
    <!-- Open graph protocol:
       * Used by Facebook, Google+, Search Engines and others
       * The Open Graph protocol documentation http://ogp.me/
       * Facebook's Built-in Object Types https://developers.facebook.com/docs/opengraph/objects/builtin/
       * Facebook's official parser and debugger https://developers.facebook.com/tools/debug
    ============================================================================= -->
    <meta property="fb:admins" content="{{ settings.meta_fb_admins }}">
    <meta property="og:site_name" content="{{ shop.name }}">
    <meta property="og:description" content="{{ shop.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    <meta property="og:locality" content="{{ settings.meta_og_locality }}">
    <meta property="og:region" content="{{ settings.meta_og_region }}">
    <meta property="og:country-name" content="{{ settings.meta_og_country-name }}">
    {% if template contains 'product' %}
      <meta property="og:type" content="product">
      <meta property="og:title" content="{{ product.title }}">
      <meta property="og:url" content="{{ shop.url }}{{ product.url }}">
      <meta property="og:image" content="{{ product.featured_image | product_img_url: 'small' }}">
    {% elsif template contains 'article' %}
      <meta property="og:type" content="article">
      <meta property="og:title" content="{{ article.title }}">
      <meta property="og:url" content="{{ shop.url }}{{ article.url }}">
      <!-- <meta property="og:image" content=""> --><!-- Facebook looks for images within the page content -->
    {% elsif template contains 'page' %}
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:url" content="{{ shop.url }}{{ page.url }}">
      <!-- <meta property="og:image" content=""> --><!-- Facebook looks for images within the page content -->
    {% else %}
      <meta property="og:type" content="website">
      <meta property="og:title"  content="{{ shop.name }}">
      <meta property="og:url" content="{{ shop.url }}">
      {% if collections.frontpage.products.first != blank %}
        <meta property="og:image" content="{{ collections.frontpage.products.first.featured_image | product_img_url: 'small' }}">
      {% endif %}
    {% endif %}


    <!-- Touch icons and favicon.ico:
       * http://mathiasbynens.be/notes/touch-icons
    ============================================================================= -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'apple-touch-icon-114x114-precomposed.png' | asset_url }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'apple-touch-icon-72x72-precomposed.png' | asset_url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ 'apple-touch-icon-precomposed.png' | asset_url }}">
    <link rel="apple-touch-icon" href="{{ 'apple-touch-icon.png' | asset_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">


    <!-- Stylesheets
    ============================================================================= -->
    <link rel="stylesheet" href="{{ 'bootstrap.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'bootstrap-responsive.css' | asset_url }}">
    <link rel="stylesheet" href="{{ '_bootstrapify.css' | asset_url }}">
    
    
    <!-- JavaScript in HEAD:
       * Most JavaScript at the bottom, except this Modernizr build and Shopify's Customer Accounts JS.
       * Modernizr enables HTML5 elements & feature detects for optimal performance.
       * Create your own custom Modernizr build: http://www.modernizr.com/download
       * Shopify customer accounts http://wiki.shopify.com/Customer_Accounts#Required_customer_javascript_files
    ============================================================================= -->
    <script src="{{ 'modernizr-2.5.3.min.js' | asset_url }}"></script>
    {% if template contains 'customers' %}
      <script src="{{ "shopify_common.js" | shopify_asset_url }}"></script>
      <script src="{{ "customer_area.js" | shopify_asset_url }}"></script>
      <!--[if lt IE 7]>
        <script src="{{ "json2.js" | shopify_asset_url }}"></script>
      <![endif]-->
    {% endif %}
    
    
    <!-- Start content_for_header [shopify]
    ============================================================================= -->
    {{ content_for_header }}
    <!-- End content_for_header [shopify]
    ============================================================================= -->
  </head>

  <body class="{% if customer %}logged-in{% else %}logged-out{% endif %} template-{{ template | split: '.' | join: '-' | split: '/' | join: '-' }}">

    <!-- Browser Support Notice
       * Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       * chromium.org/developers/how-tos/chrome-frame-getting-started
    ============================================================================= -->
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    
    
    <!-- Navbar
       * http://twitter.github.com/bootstrap/components.html#navbar
    ============================================================================= -->


<!-- 
<a class="btn btn-primary pull-left" href="#"><i class="icon-home icon-white"></i></a>
<div class="divider-vertical pull-left"></div>

<div class="btn-group pull-left">
  <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i> <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Login</a></li>
    <li><a href="#">Reset password</a></li>
  </ul>
</div>
-->


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> 
          
          <div class="pull-left">
            <form class="bootstrapify-search pull-left">
              <input type="search" placeholder="Search..." x-webkit-speech="">
            </form>
          </div>
          
          <a class="brand hidden" href="/">{{ shop.name }}</a>
          
          <div class="pull-right">
            {% if shop.customer_accounts_enabled %}
              <div class="pull-left">
                <a class="btn btn-inverse" href="/account"><i class="icon-user icon-white"></i> Login</a>
              </div>
              <div class="divider-vertical pull-left"></div>
            {% endif %}
            <div class="btn-group pull-left">
              <a class="btn btn-inverse" href="/cart"><i class="icon-shopping-cart icon-white"></i> Cart ({{ cart.item_count }})</a>
              <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if cart.item_count == 0 %}
                  <li><a href="#">There are no items in your cart.</a></li>
                {% else %}
                  <li><a href="#">1 x Item 1</a></li>
                  <li><a href="#">1 x Item 2</a></li>
                  <li><a href="#">2 x Item 3</a></li>
                  <li class="divider"></li>
                  <li><a href="/checkout"><i class="icon-share-alt"></i> Checkout</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="divider-vertical pull-left"></div>
            <a class="btn btn-success pull-left" href="{% if cart.item_count == 0 %}/cart{% else %}/checkout{% endif %}">Checkout</a>
          </div>
          
        </div>
      </div>
    </div>
    {% comment %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <div class="pull-left">
            <form class="bootstrapify-search pull-left">
              <input type="search" placeholder="Search..." x-webkit-speech="">
            </form>
          </div>
          
          <a class="brand" href="#">Bootstrapify</a>
          
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li class="">
                <a href="#">Search</a>
              </li>
              <li class="">
                <a href="#">My Account</a>
              </li>
              <li class="">
                <a href="#">Cart (4)</a>
              </li>
              <li class="">
                <a href="#">Checkout</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    {% endcomment %}
    
    <div class="container logo">
      <div class="row-fluid">
        <div class="span12">
          <a href="/">
            {% if settings.use_logo %}
              <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" />
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
        </div>
      </div>
    </div>

    <div class="container" role="main">

      <!-- Masthead
      ============================================================================= -->
      
      <header class="jumbotron subhead" id="overview">
        <!--
        <h1>
          Scaffolding
        </h1>
        <p class="lead">
          Bootstrap is built on a responsive 12-column grid. We've also included fixed- and fluid-width layouts based on that system.
        </p>
        -->
        <div class="subnav">
          <!-- level 1 -->
          <ul class="nav nav-pills">
            {% for link in linklists[settings.main_linklist].links %}
              {% if linklists[link.handle] == empty %}
                  <li class="{% if link.active %}active{% endif %}">
                    <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                  </li>
                {% else %}
                  <li class="dropdown {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% if link.active %}active{% endif %}{% endfor %}">
                    <a href="#" title="{{ link.title }}" class="dropdown-toggle" data-toggle="dropdown">{{ link.title }} <b class="caret"></b></a> 
                    <!-- level 2 -->
                    <ul class="dropdown-menu">
                      {% for link in linklists[link.handle].links %}
                        <li class="{% if link.active %}active{% endif %}">
                          <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </header>





      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Bootstrapify!{% if settings.theme_name != blank %} &mdash; {{ settings.theme_name }}{% endif %}</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
      
      <div class="row">
        <div class="span12">
          <!-- Start content_for_layout [shopify]
          ============================================================================= -->
          {{ content_for_layout }}
          <!-- End content_for_layout [shopify]
          ============================================================================= -->  
        </div>
      </div>
      
      <hr>

      <footer>
        {% include 'social_buttons' %}
        <p>&copy; Company 2012</p>
        <p>
          {{ powered_by_link | replace: 'shopify.com', 'shopify.com/?ref=chrisjacob' }}
        </p>
      </footer>

    </div> <!-- /container -->
    
    
    
    
    

    
    <!-- JavaScript in BODY:
       * JavaScript at the bottom for fast page loading
       * Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    ============================================================================= -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ 'jquery-1.7.1.min.js' | asset_url }}"><\/script>')</script>
    <script src="{{ 'bootstrap.js' | asset_url }}"></script>
    <script src="{{ '_bootstrapify.js' | asset_url }}"></script>

    <!-- Google Analytics:
       * Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       * mathiasbynens.be/notes/async-analytics-snippet
    ============================================================================= -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>